<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2017 Nicholas van Dyke. All rights reserved.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vandyke.sia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.vandyke.sia.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.DayNight">

        <service android:name="com.vandyke.sia.data.siad.SiadService" />
        <service android:name=".data.siad.DownloadMonitorService" />

        <receiver
            android:name=".data.siad.RetryDownloadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.vandyke.sia.RETRY_DOWNLOAD" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.vandyke.sia.ui.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreenTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.onboarding.IntroActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vandyke.sia.ui.wallet.view.ScannerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.onboarding.PurchaseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>